@import url('https://kit.fontawesome.com/a076d05399.js');

.node {
    width: 25px;
    height: 25px;
    outline: 1px solid rgb(5, 15, 44);
    display: inline-block;
    /* display: none; */
  }
  
  .node-finish {
    background-color: red;
    background-image: url('end.png');
    /* display:inline-block; */
  }
  
  .node-start {
    background-color: green;
    /* background-blend-mode: darken; */
    background-image: url('start.png');
    /* margin-left: 5px; */
    /* display:inline-block; */
  }
  
  .node-visited {
    animation-name: visitedAnimation;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
  }
  
  @keyframes visitedAnimation {
    0% {
      transform: scale(0.3);
      background-color: #1f2833;
      border-radius: 100%;
    }
  
    50% {
      background-color: #45a29e;
    }
  
    75% {
      transform: scale(1.2);
      background-color: #66fcf1;
    }
  
    100% {
      transform: scale(1);
      background-color: #c5c6c7;
    }
  }
  
  .node-wall {
    background-color: #3e7bfa;
  }
  
  .node-shortest-path {
    animation-name: shortestPath;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
  }
  
  @keyframes shortestPath {
    0% {
      transform: scale(0.6);
      background-color: #c3073f;
    }
  
    50% {
      transform: scale(1.2);
      background-color: #c3073f;
    }
  
    100% {
      transform: scale(1);
      background-color: #c3073f;
    }
  }