.body {
  background-color: none;
  background-image: url('../Images/dbworld.jpg');
  background-blend-mode: soft-light;
  background-position: right;
  background-origin: padding-box;
  /* background-position-x: right 10ex;
  background-position-y: bottom 10ex; */
  /* opacity: 0.5; */
}

.grid {
    margin: 10px 0 0px;
    /* display: none; */
  }

  ul {
    list-style-type: none;
  }

  .navbar {
    /* margin-bottom: 30px; */
    padding-bottom: 14px;
    overflow: hidden;
    background-color: rgb(251, 86, 35);
    font-family: Arial;
    color:white;
    
  }
  .nav{
    float: left;
    margin-left: 100px;
    margin-right: 100px;
    /* margin-top: 3px; */
    font-size: 1.5em;
  }

  .text{ 
    float: left;
    font-size: 2em;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 0px;
  }
  
  .starwarslogo {
    float: left;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
  }

  .a:hover{
    color: rgb(218,165,32);
  }

  .button {
    padding: 10px;
    margin-top: 2px;
    color: white;
    background-image: linear-gradient(to right, #fdff70, #e9dd33ea, #ffc93c, #ff9a3c, #fd7543);
    box-shadow: 0px 10px 20px 0px rgba(92, 203, 92, 0.35);
}
.button:hover {
  background-image: linear-gradient(to left,  #fdff70, #e9dd33ea, #ffc93c, #ff9a3c, #fd7543);
  box-shadow: 0px 10px 20px 0px rgba(92, 203, 92, 0.35);
}

.footer{
  margin-top: 0px;
  overflow: hidden;
}

.f{
  /* margin-bottom: 2px; */
  margin-left: 150px;
  margin-right: 150px;
  /* padding-bottom: 5px; */
  float: left;
  color: black;
  font-size: 20px;
}
